@import url("https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic");

body {
  margin: 0;
  font-family: "Merriweather+Sans", "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative; /* Needed by Bootstrap's scrollspy */
}
